body{
    background-image: url('/jigsaw-theme.jpeg');
    color: red;
    
}

h1{
    color: red;
    position: relative;
    bottom: 200px;
    background-color: black;
    border-radius: 5px;  
}

#img{
    position: fixed;
    left: 200px;
    bottom: 260px;
}

#timer-buttons{
    position: fixed;
    left: 15%;
    
    

}
#timer{
    position: fixed;
}

button{
    color: red;
}
